---
import { getLocalePaths, LOCALES } from '../../i18n';
---

<div class="language-select-container">
	<label for="language-select"> </label>
	<select
		id="language-select"
		name="language-select"
		data-languageSelect
		aria-label={Astro.currentLocale === 'es'
			? 'Cambiar idioma del sitio'
			: Astro.currentLocale === 'pt-br'
				? 'Alterar idioma do site'
				: 'Change site language'}
	>
		{
			getLocalePaths(Astro.url).map(({ path, lang }) => (
				<option
					label={LOCALES[lang].label}
					value={path}
					data-lang={lang}
					selected={lang === Astro.currentLocale}
					dir={LOCALES[lang].dir || null}
				/>
			))
		}
	</select>
</div>

<script>
	import { navigate } from 'astro:transitions/client';

	const setupLanguageSelect = () => {
		const selects = document.querySelectorAll('[data-languageSelect]');
		selects.forEach((select) => {
			select.addEventListener('change', (event) => {
				const target = event.target as HTMLSelectElement;
				const lang = target.selectedOptions[0]?.dataset.lang;
				const url = target.value;
				if (lang && url) {
					localStorage.setItem('selectedLang', lang);
					const hash = window.location.hash;
					navigate(url + hash, { history: 'replace' });
				}
			});
		});
	};

	setupLanguageSelect();
	document.addEventListener('astro:after-swap', setupLanguageSelect);
</script>

<style>
	select {
		font-family: 'Poppins';
		border-radius: 4px;
		font-size: var(--small-font-size);
		font-weight: var(--font-medium);
		height: 30px;
		padding: 0 28px 0 15px;
		background-color: var(--body-color);
		color: var(--title-color);
		appearance: none;
		-webkit-appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: right 8px center;
		cursor: pointer;
	}
</style>
