:root {
  --hue-color: 270;
  --first-color: hsl(var(--hue-color), 85%, 45%);
  --first-color-second: hsl(var(--hue-color), 75%, 40%);
  --first-color-alt: hsl(var(--hue-color), 70%, 35%);
  --first-color-lighter: hsl(var(--hue-color), 85%, 80%);

  --title-color: hsl(var(--hue-color), 15%, 10%);
  --text-color: hsl(var(--hue-color), 15%, 25%);
  --text-color-light: hsl(var(--hue-color), 15%, 45%);

  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 98%);
  --container-color: #ffffff;
  --scroll-bar-color: hsl(var(--hue-color), 20%, 75%);
  --scroll-thumb-color: hsl(var(--hue-color), 25%, 60%);
}

body.dark{
  --first-color: hsl(var(--hue-color), 85%, 65%);
  --first-color-second: hsl(var(--hue-color), 75%, 55%);
  --first-color-alt: hsl(var(--hue-color), 70%, 45%);
  --first-color-lighter: hsl(var(--hue-color), 90%, 75%);

  --title-color: hsl(var(--hue-color), 20%, 95%);
  --text-color: hsl(var(--hue-color), 15%, 85%);
  --text-color-light: hsl(var(--hue-color), 15%, 75%);

  --input-color: hsl(var(--hue-color), 25%, 18%);
  --body-color: hsl(var(--hue-color), 15%, 10%);
  --container-color: hsl(var(--hue-color), 20%, 15%);
  --scroll-bar-color: hsl(var(--hue-color), 20%, 45%);
  --scroll-thumb-color: hsl(var(--hue-color), 25%, 35%);
}
