/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 567px) {
	.container {
		margin-left: var(--mb-1);
		margin-left: var(--mb-1);
	}
	.nav__menu {
		padding: 2rem 0.25rem 4rem;
	}
	.nav__list {
		column-gap: 0;
	}
	.home__content {
		grid-template-columns: 1fr;
		grid-auto-flow: dense;
	}
	.home__blob {
		width: 180px;
	}
	.skills__title {
		font-size: var(--normal-font-size);
	}
	.qualification__data {
		gap: 0.5rem;
	}
	.services__container {
		grid-template-columns: max-content;
		justify-content: center;
	}
	.services__content {
		padding-right: 3.5rem;
	}
	.services__modal {
		padding: 0 0.5rem;
	}
	.project__img {
		width: 200px;
	}

	.project__bg {
	background-color: var(--first-color);

	}


	.project__title,
	.project__description {
		color: var(--text-color);
	}
	.testimonial__data,
	.testimonial__header {
		flex-direction: column;
		align-items: center;
	}
	.testimonial__img {
		margin-right: 0;
		margin-bottom: var(--mb-0-25);
	}
	.testimonial__data,
	.testimonial__description {
		text-align: center;
	}
}
/* For medium devices */
@media screen and (min-width: 568px) {
	.home__content {
		grid-template-columns: max-content 1fr 1fr;
	}
	.home__data {
		grid-column: initial;
	}

	.about__container,
	.portafolio__content,
	.project__container,
	.contact__container,
	.footer__container,
	.wibx__container,
	.qualification__sections {
		display: grid;
		justify-content: center;
	}

    .project__container {
        padding: 2rem 0;
        background-color: var(--first-color);
        border-radius: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	body {
		margin: 0;
	}
	.section {
		padding: 6rem 0 2rem;
	}
	.section__subtitle {
		margin-bottom: 4rem;
	}
	.header {
		top: 0;
		bottom: initial;
	}
	.header,
	.main,
	.footer__container {
		padding: 0 1rem;
	}
	.nav {
		height: calc(var(--header-height) + 1.5rem);
		column-gap: 1rem;
	}
	.nav__icon,
	.nav__close,
	.nav__toggle {
		display: none;
	}
	.nav__list {
		display: flex;
		column-gap: 2rem;
	}
	.nav__menu {
		margin-left: 0;
	}
	.change-theme {
		margin: 0;
	}
	.home__container {
		row-gap: 5rem;
	}
	.home__content {
		padding-top: 5.5rem;
		column-gap: 2rem;
	}
	.home__blob {
		width: 270px;
	}
	.home__scroll {
		display: block;
	}
	.home__scroll-button {
		margin-left: 3rem;
	}
	.about__container {
		column-gap: 5rem;
	}

	.about__description {
		text-align: initial;
	}
	.about__info {
		justify-content: space-between;
		gap: 1rem;
	}
	.about__buttons {
		justify-content: center;
	}
	.qualification__tabs {
		justify-content: center;
	}
	.qualification__button {
		margin: 0 var(--mb-1);
	}
	.qualification__sections {
		grid-template-columns: 0.5fr;
	}
	.services__container {
		justify-content: center;
	}
	.services__icon {
		font-size: 2rem;
	}
	.services__content {
		padding: 6rem 0 2rem 2.5rem;
	}

	.portafolio__img {
		width: 320px;
	}
	.portafolio__content {
		align-items: center;
	}
	.project {
		text-align: initial;
	}
	.project__bg {
		background: none;
	}
	.project__container {
		background-color: var(--first-color-second);
		border-radius: 1rem;
		padding: 3rem 2.5rem 0;
		grid-template-columns: 1fr max-content;
		column-gap: 3rem;
	}
	.project__data {
		padding-top: 0.8rem;
	}
}

/* For large devices */
@media screen and (min-width: 1024px) {
	.header,
	.main,
	.footer__container {
		padding: 0;
	}
	.home__blob {
		width: 320px;
	}
	.home__social {
		transform: translateX(-6rem);
	}
	.services__container {
		grid-template-columns: repeat(3, 238px);
	}
	.portafolio__content {
		column-gap: 5rem;
	}
	.contact__form {
		width: 460px;
	}
	.contact__inputs {
		grid-template-columns: repeat(2, 1fr);
	}
}
