---
import Layout from "@layouts/Layout.astro";
import Slider from "@components/Slider.astro";
import TechList from "@components/TechList.astro";
import { birdiPhotos } from "@data/slider";
import BirdiGif from '@assets/gifs/birdi.gif';

---

<Layout title="JFRA | BirdiRx" variant="birdi" withFooter={false}>
    <section class="section" id="birdi">
        <div class="birdi__container container grid">
            <div
            class="birdi-container"
        >
            <img
                id="img"
                src={BirdiGif.src}
                alt="Wibx Coin"
                class="wibx-coin"
                draggable="false"
            />
        </div>
            <h2 class="section__title" i18n="wibx.title"></h2>
            <p class="birdi__content" i18n="wibx.content1"></p>
            <p class="birdi__content" i18n="wibx.content2"></p>
            <p class="birdi__content" i18n="wibx.content3"></p>
            <p class="birdi__content" i18n="wibx.content4"></p>

            <h3 i18n="wibx.subtitle"></h3>
            <ul>
                <li class="birdi__content" i18n="wibx.resp-1"></li>
                <li class="birdi__content" i18n="wibx.resp-2"></li>
                <li class="birdi__content" i18n="wibx.resp-3"></li>
                <li class="birdi__content" i18n="wibx.resp-4"></li>
                <li class="birdi__content" i18n="wibx.resp-5"></li>
            </ul>

            <h3 i18n="wibx.stack"></h3>
            <TechList company="birdi" />
            <Slider format="image" data={birdiPhotos} type="wibx" />
        </div>
    </section>
</Layout>

<style>
    .birdi__container {
        padding: 0.75rem 1rem 0.25rem;
    }

    p.birdi__content {
        text-align: start;
        text-wrap: pretty;
    }

    ul {
        list-style-type: disc;
    }
</style>
