---
import Layout from "@layouts/Layout.astro";

---

<Layout title="Juan Felipe Rada | Wibx" variant="wibx">
    <section style="height: 80vh;"></section>
</Layout>

<style>
    html {
        background-color: #C9FFEE;
    }
</style>
