---

---

<section class="quote-container container">ENTER AS A ESTRANGER. LEAVE AS A FRIEND</section>

<style>
	.quote-container {
		background-color: #711389;
		padding: 0.5rem;
		border: solid 0.5rem #eba614;
		color: #eee2c6;
		font-weight: bold;
		text-decoration: none;
		font-family: sans-serif;
		line-height: normal;
		font-size: clamp(1.25rem, 3vw, 1.875rem);
		text-align: center;
		outline: solid 1px #b47e0f;
		text-shadow: 0 0 1px #c9bfa0;
		text-wrap: balance;
	}
</style>
