---
import Logo from "@assets/img/JFR.webp";
interface Props {
    variant?: "radapls" | "wibx";
}

const { variant } = Astro.props;
---

{
    variant === "radapls" ? (
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img
                        class="MarcaHead"
                        src={Logo.src}
                        draggable="false"
                        alt="Logo Juan Felipe Rada"
                    />
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="#About" class="nav__link">
                                <i class="uil uil-user nav__icon" />
                                <p i18n="about" />
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#Skills" class="nav__link">
                                <i class="uil uil-file-check-alt nav__icon" />
                                <p i18n="skills" />
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#Portafolio" class="nav__link">
                                <i class="uil uil-scenery nav__icon" />
                                <p i18n="portfolio" />
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#Contact" class="nav__link">
                                <i class="uil uil-message nav__icon" />
                                <p i18n="head_contact" />
                            </a>
                        </li>
                    </ul>
                    <i class="uil uil-times nav__close" id="nav-close" />
                </div>
                <div class="nav__btns">
                    <i class="uil uil-moon change-theme" id="theme-button" />

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="uil uil-apps" />
                    </div>
                </div>

                <select
                    id="lang"
                    i18n-switcher
                    class="locale-switcher"
                    aria-label="lang"
                >
                    <option value="en">🇺🇸 English</option>
                    <option value="es">🇨🇴 Español</option>
                    <option value="pt">🇧🇷 Português</option>
                </select>
            </nav>
        </header>
    ) : (
        <header class="header" id="header">
            <nav class="nav container">
                <div class="wibx">
                    <a href="/">
                        <img
                            class="MarcaHead"
                            src={Logo.src}
                            draggable="false"
                            alt="Logo Juan Felipe Rada"
                        />
                    </a>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="48"
                        viewBox="0 0 20 48"
                    >
                        <g>
                            <path
                                fill="none"
                                stroke="rgb(172,185,200)"
                                stroke-linecap="square"
                                stroke-linejoin="miter"
                                stroke-width="1"
                                d="M10 2.35231505v50"
                            />
                        </g>
                    </svg>
                    <a href="https://wibx.io/" class="nav__logo">
                        <img
                            src="https://assets.coingecko.com/coins/images/11009/large/wibx_new_logo.png"
                            draggable="false"
                            alt="Wibx Company"
                            style="width: 40px;"
                        />
                    </a>
                </div>
                <select
                    id="lang"
                    i18n-switcher
                    class="locale-switcher"
                    aria-label="lang"
                >
                    <option value="en">🇺🇸 English</option>
                    <option value="es">🇨🇴 Español</option>
                    <option value="pt">🇧🇷 Português</option>
                </select>
            </nav>
        </header>
    )
}

<style>
    /*==================== NAV ====================*/

    .locale-switcher {
        font-family: "Poppins";
        border-radius: 4px; /* Bordes redondeados */
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        height: 30px;
        padding: 0 15px;
        border: none; /* Quitar bordes por defecto */
    }

    /* show menu */
    .show-menu {
        bottom: 0;
    }

    /* Active link */
    .active-link {
        color: var(--first-color);
    }

    .wibx {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    .wibx > a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wibx > a > .MarcaHead {
        padding: 0;
    }

    .wibx > svg {
        height: 30px;
    }
</style>
