---
import Layout from "@layouts/Layout.astro";
import Slider from "@components/Slider.astro";
import TechList from "@components/TechList.astro";
import { wibxPhotos } from "@data/slider";
import WibxCoin from "@assets/gifs/wbx-token.gif";
import { LOCALES } from "src/i18n";

import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout title="JFRA | Wibx" variant="wibx" withFooter={false}>
  <section class="section" id="wibx">
    <div class="wibx__container container grid">
      <div class="wibx-coin-container">
        <img
          id="img"
          src={WibxCoin.src}
          alt="Wibx Coin"
          class="wibx-coin"
          draggable="false"
        />
      </div>
      <h2 class="section__title">
        {
          t({
            en: "My experience at Wibx Company",
            es: "Mi experiencia en Wibx Company",
            "pt-br": "Minha experiência na Wibx Company",
          })
        }
      </h2>
      <p class="wibx__content">
        {
          t({
            en: "My experience at Wibx was a one hundred and eighty degree turn. It was the first company I joined after making my career transition. At Wibx, I learned a lot, not only about technology but also about relationships, living in a new country, learning a new language, and, of course, programming in this decade.",
            es: "Mi experiencia en Wibx fue un giro de ciento ochenta grados. Fue la primera empresa a la que llegué después de hacer mi transición de carrera. En Wibx, aprendí muchísimo, no solo sobre tecnología, sino también sobre relaciones, vivir en un nuevo país, aprender un nuevo idioma y, por supuesto, programar en esta década.",
            "pt-br":
              "Minha experiência na Wibx foi uma virada de cento e oitenta graus. Foi a primeira empresa em que entrei após fazer minha transição de carreira. Na Wibx, aprendi muito, não só sobre tecnologia, mas também sobre relacionamentos, viver em um novo país, aprender um novo idioma e, claro, programar nesta década.",
          })
        }
      </p>
      <p class="wibx__content">
        {
          t({
            en: "For me, Wibx was a space for co-creation. There was never a 'no' to trying something new. From Augmented Reality filters, to system design, to the administrative backoffice, application refactoring, and several, if not many, landing pages.",
            es: "Wibx para mí fue un espacio de co-creación. Nunca hubo un 'no' para intentar algo nuevo. Desde filtros con Realidad Aumentada, pasando por el diseño de sistemas, hasta el backoffice administrativo, la refactorización de la aplicación y varias, por no decir muchas, landing pages.",
            "pt-br":
              "Para mim, a Wibx foi um espaço de co-criação. Nunca houve um 'não' para tentar algo novo. Desde filtros de Realidade Aumentada, passando pelo design de sistemas, até o backoffice administrativo, a refatoração da aplicação e várias, senão muitas, landing pages.",
          })
        }
      </p>
      <p class="wibx__content">
        {
          t({
            en: "My experience as a frontend developer was based on understanding how Angular works as a framework and optimizing its development to work with TypeScript and SCSS as a CSS preprocessor. It was a great challenge, especially because I was not familiar with frameworks and had more experience with HTML, CSS, and JavaScript. This challenge was of great scalability, even more so when coming from a completely different area.",
            es: "Mi experiencia como desarrollador frontend se basó en entender el funcionamiento de Angular como framework y en optimizar su desarrollo para trabajar con TypeScript y SCSS como preprocesador de CSS. Fue un gran desafío, especialmente porque no estaba familiarizado con frameworks y tenía más experiencia con HTML, CSS y JavaScript. Este reto fue de gran escalabilidad, más aún cuando venía de un área completamente ajena.",
            "pt-br":
              "Minha experiência como desenvolvedor frontend foi baseada em entender como o Angular funciona como framework e otimizar seu desenvolvimento para trabalhar com TypeScript e SCSS como preprocessador de CSS. Foi um grande desafio, especialmente porque eu não estava familiarizado com frameworks e tinha mais experiência com HTML, CSS e JavaScript. Este desafio foi de grande escalabilidade, ainda mais vindo de uma área completamente diferente.",
          })
        }
      </p>
      <p class="wibx__content">
        {
          t({
            en: "However, I believe that being close to complex concepts such as reactive state, asynchrony, state management, and clean code for architecture made that path an enjoyable experience. I was always accompanied by teamwork, which I consider crucial at the beginning of a programmer's career. While inherent curiosity is great, having a group-guided approach will always be appreciated.",
            es: "Sin embargo, creo que la proximidad a conceptos tan complejos como el estado reactivo, la asincronía, la gestión del estado y el clean code para la arquitectura hicieron de ese camino una experiencia amena. Siempre estuve acompañado del trabajo en equipo, que considero crucial al inicio de la carrera como programador. Si bien la curiosidad inherente es grande, el poder tener un enfoque guiado por un grupo siempre será grato.",
            "pt-br":
              "No entanto, acredito que a proximidade a conceitos tão complexos como estado reativo, assincronia, gerenciamento de estado e código limpo para arquitetura tornaram esse caminho uma experiência agradável. Sempre estive acompanhado pelo trabalho em equipe, que considero crucial no início da carreira de programador. Embora a curiosidade inerente seja grande, ter uma abordagem guiada por um grupo sempre será apreciado.",
          })
        }
      </p>
      <h3>
        {
          t({
            en: "Among my main responsibilities were:",
            es: "Entre mis principales responsabilidades estuvieron:",
            "pt-br": "Entre minhas principais responsabilidades estavam:",
          })
        }
      </h3>
      <ul>
        <li class="wibx__content">
          {
            t({
              en: "Creating new functionalities, as well as maintaining the base code for the backoffice (Business) and the application (Wibx App).",
              es: "La creación de nuevas funcionalidades, así como el mantenimiento del código base para el backoffice (Business) y la aplicación (Wibx App).",
              "pt-br":
                "Criação de novas funcionalidades, bem como a manutenção do código base para o backoffice (Business) e a aplicação (Wibx App).",
            })
          }
        </li>
        <li class="wibx__content">
          {
            t({
              en: "Working together with the design team to efficiently deliver new functionalities to the core business.",
              es: "Trabajo conjunto con el equipo de diseño para la entrega eficiente de nuevas funcionalidades al core del negocio.",
              "pt-br":
                "Trabalho conjunto com a equipe de design para a entrega eficiente de novas funcionalidades ao core do negócio.",
            })
          }
        </li>
        <li class="wibx__content">
          {
            t({
              en: "Managing HTTPS requests with RESTful APIs for the different integration modules.",
              es: "Gestión de peticiones HTTPS con APIs RESTful para los diferentes módulos de integración.",
              "pt-br":
                "Gerenciamento de requisições HTTPS com APIs RESTful para os diferentes módulos de integração.",
            })
          }
        </li>
        <li class="wibx__content">
          {
            t({
              en: "Modular refactoring of the business (WBSC).",
              es: "Refactorización modular del negocio (WBSC).",
              "pt-br": "Refatoração modular do negócio (WBSC).",
            })
          }
        </li>
        <li class="wibx__content">
          {
            t({
              en: "Creating landing pages in alignment with the marketing team for the launch of strategies and campaigns.",
              es: "Creación de landing pages en alineamiento con el equipo de marketing para el lanzamiento de estrategias y campañas.",
              "pt-br":
                "Criação de landing pages em alinhamento com a equipe de marketing para o lançamento de estratégias e campanhas.",
            })
          }
        </li>
      </ul>

      <h3>
        {
          t({
            en: "The stack:",
            es: "Principales herramientas:",
            "pt-br": "Principales tecnologias:",
          })
        }
      </h3>
      <TechList company="wibx" />
      <Slider format="image" data={wibxPhotos} type="wibx" />
    </div>
  </section>

  <style>
    .wibx__container {
      padding: 0.75rem 1rem 0.25rem;
    }

    .wibx-coin-container {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    @media screen and (max-width: 1023px) {
      .wibx-coin-container {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
    }

    .wibx-coin-container > img {
      min-width: 100px;
      width: 300px;
    }

    @media screen and (min-width: 1024px) {
      .wibx-coin-container .tooltip-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        right: calc(10%);
        pointer-events: none;
        animation: point 3s ease-in-out infinite;
      }

      .wibx-coin-container .tooltip-container > .hand {
        font-size: 50px;
        text-align: center;
      }

      .wibx-coin-container .tooltip-container > .hand-2 {
        display: none;
      }

      .wibx-coin-container .tooltip-container .tooltip {
        font-weight: 500;
        font-size: 20px;
      }
    }

    @media screen and (max-width: 1023px) {
      .wibx-coin-container .tooltip-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        pointer-events: none;
        animation: none;
      }

      .wibx-coin-container .tooltip-container > .hand {
        display: none;
      }

      .wibx-coin-container .tooltip-container > .hand-2 {
        display: block;
        font-size: 30px;
      }

      .wibx-coin-container .tooltip-container .tooltip {
        font-weight: 500;
        font-size: 20px;
      }
    }

    p.wibx__content {
      text-align: start;
      text-wrap: pretty;
    }

    ul {
      list-style-type: disc;
    }

    @keyframes point {
      0% {
        transform: translateX(0);
      }

      50% {
        transform: translateX(-50%);
      }

      100% {
        transform: translateX(0);
      }
    }
  </style>
</Layout>
