---
import ProfilePic from "@assets/img/juan.webp";
import CurriculumVitae from "@assets/documents/CV_Juan_Felipe_Rada.pdf";
---

<!--==================== ABOUT ====================-->
<section class="about section" id="About">
    <h2 class="section__title" i18n="about_me"></h2>
    <span class="section__subtitle" i18n="about_me.subtitle"></span>

    <div class="about__container container grid">
        <img
            src={ProfilePic.src}
            alt="Profile pic"
            class="about__img"
            draggable="false"
        />
        <div class="about__data">
            <p class="about__description" i18n="about_me.description">
                <div class="about__info">
                    <div>
                        <span class="about__info-title">04+</span>
                        <span class="about__info-name" i18n="about-info1"
                        ></span>
                    </div>
                    <div>
                        <span class="about__info-title">12+</span>
                        <span class="about__info-name" i18n="about-info2"
                        ></span>
                    </div>
                    <div>
                        <span class="about__info-title">04+</span>
                        <span class="about__info-name" i18n="about-info3"
                        ></span>
                    </div>
                </div>
                <div class="about__buttons">
                    <a
                        rel="nofollow"
                        type="file"
                        href={CurriculumVitae}
                        class="button button--flex"
                    >
                        <p i18n="about-cv"></p>
                        <i class="uil uil-download-alt button__icon"></i>
                    </a>
                </div>
            </p>
        </div>
    </div>
</section>
