---
import ProfilePic from '@assets/img/juan.webp';
import CurriculumVitae from '@assets/documents/CV_Juan_Felipe_Rada.pdf';

import { useTranslations, type Lang } from 'src/i18n';
import { Image } from 'astro:assets';

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== ABOUT ====================-->
<section class="about section" id="About">
	<h2 class="section__title">
		{
			t({
				en: 'About Me',
				es: 'Acerca de mí',
				'pt-br': 'Sobre mim',
			})
		}
	</h2>
	<span class="section__subtitle">
		{
			t({
				en: 'My introduction',
				es: 'Mi introducción',
				'pt-br': 'Minha apresentação',
			})
		}
	</span>

	<div class="about__container container grid">
		<Image
			src={ProfilePic}
			alt="Profile picture of Juan Felipe Rada"
			class="about__img"
			width={325}
			height={325}
			draggable="false"
			loading={'eager'}
			decoding="async"
		/>
		<div class="about__data">
			<p class="about__description">
				{
					t({
						en: "Hello everyone! I'm Juan Felipe Rada. I'm passionate about exploring new ideas and constantly learning. I'm always looking for new ways to create and innovate, driven by my curiosity. I'd love to share a bit of my journey with you.",
						es: '¡Hola a todos! Soy Juan Felipe Rada. Me apasiona explorar nuevas ideas y aprender constantemente. Siempre estoy en busca de nuevas formas de crear e innovar, guiado por mi curiosidad. Me encantaría compartir con ustedes un poco de mi camino.',
						'pt-br':
							'Olá a todos! Sou Juan Felipe Rada. Sou apaixonado por explorar novas ideias e aprender constantemente. Estou sempre em busca de novas formas de criar e inovar, guiado pela minha curiosidade. Adoraria compartilhar um pouco da minha trajetória com vocês.',
					})
				}
			</p>

			<p class="about__description">
				{
					t({
						en: 'Sometimes I write',
						es: 'Algunas veces escribo',
						'pt-br': 'Às vezes escrevo',
					})
				}
				<a
					data-astro-reload
					class="about__description__link"
					href="/blog"
					role="link"
					aria-roledescription={t({
						en: 'Personal blog link',
						es: 'Enlace al blog personal',
						'pt-br': 'Link blog pessoal',
					})}
				>
					{
						t({
							en: 'on my personal blog',
							es: 'en mi blog personal',
							'pt-br': 'no meu blog pessoal',
						})
					}
				</a>
			</p>

			<div class="about__info">
				<div>
					<span class="about__info-title">04+</span>
					<span class="about__info-name">
						{
							t({
								en: 'Years of experience',
								es: 'Años de experiencia',
								'pt-br': 'Anos de experiência',
							})
						}
					</span>
				</div>
				<div>
					<span class="about__info-title">12+</span>
					<span class="about__info-name">
						{
							t({
								en: 'Completed projects',
								es: 'Proyectos completados',
								'pt-br': 'Projetos concluídos',
							})
						}
					</span>
				</div>
				<div>
					<span class="about__info-title">04+</span>
					<span class="about__info-name">
						{
							t({
								en: 'Companies worked',
								es: 'Empresas trabajadas',
								'pt-br': 'Empresas trabalhadas',
							})
						}
					</span>
				</div>
			</div>
			<div class="about__buttons">
				<a rel="nofollow" type="file" href={CurriculumVitae} class="button button--flex">
					<p>
						{
							t({
								en: 'Download CV',
								es: 'Descargar CV',
								'pt-br': 'Baixar CV',
							})
						}
					</p>
					<i class="uil uil-download-alt button__icon"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<style>
	/*==================== ABOUT ====================*/
	.about__img {
		border-radius: 0.5rem;
		justify-self: center;
		align-self: center;
	}
	.about__description {
		text-align: center;
		margin-bottom: var(--mb-2-5);
		text-wrap-style: balance;
	}
	.about__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--mb-2-5);
		gap: 1rem;
	}
	.about__info-title {
		font-size: var(--h2-font-size);
		font-weight: var(--font-semi-bold);
		color: var(--title-color);
	}
	.about__info-name {
		font-size: var(--smaller-font-size);
	}
	.about__info-title,
	.about__info-name {
		display: block;
		text-align: center;
	}
	.about__buttons {
		display: flex;
		justify-content: center;
	}
	.about__description__link {
		text-decoration: underline;
		color: var(--first-color);
		font-weight: 500;
		transition: color 0.3s ease;
	}

	.about__description__link:hover,
	.about__description__link:focus {
		color: var(--first-color-alt);
		text-decoration-thickness: 2px;
	}

	.about__description__link:focus-visible {
		outline: 2px solid var(--first-color);
		outline-offset: 2px;
	}
</style>
