---
import { useTranslations, type Lang } from "src/i18n";
import { GLOBAL_EMAIL, WHATSAPP } from "src/consts";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== CONTACT ME ====================-->
<section class="contact section" id="Contact">
  <h2 class="section__title">
    📡
    {
      t({
        en: "Contact details",
        es: "Datos de contacto",
        "pt-br": "Dados de contato",
      })
    }
  </h2>
  <span class="section__subtitle">
    {
      t({
        en: "Let's talk",
        es: "Hablemos",
        "pt-br": "Vamos conversar",
      })
    }
  </span>

  <div class="contact__container container grid">
    <div>
      <div class="contact__information">
        <i class="uil uil-whatsapp contact__icon"></i>

        <div
          style="display: flex; justify-content: space-between; align-items: center;"
        >
          <a href={WHATSAPP as string}>
            <h3 class="contact__title">
              {
                t({
                  en: "Text me!",
                  es: "Hablemos",
                  "pt-br": "Chama no zap!",
                })
              }
            </h3>
          </a>
        </div>
      </div>

      <div class="contact__information">
        <i class="uil uil-envelope contact__icon"></i>

        <div>
          <h3 class="contact__title">E-mail</h3>
          <a
            href={t({
              en: "   mailto:radapls8@gmail.com?Subject=Lets%20work%20together",
              es: "   mailto:radapls8@gmail.com?Subject=Trabajemos%20juntos",
              "pt-br":
                "   mailto:radapls8@gmail.com?Subject=Trabalhemos%20juntos",
            })}
          >
            <span class="contact__subtitle">
              {GLOBAL_EMAIL}
            </span>
          </a>
        </div>
      </div>
    </div>

    <!--==================== CONTACT ME ====================-->

    <form
      action="https://formsubmit.co/radapls8@gmail.com"
      method="POST"
      class="contact__form grid"
    >
      <div class="contact__content">
        <label for="name" class="contact__label">
          {
            t({
              en: "Name",
              es: "Nombre",
              "pt-br": "Nome",
            })
          }
        </label>
        <input
          id="name"
          name="name"
          type="text"
          class="contact__input"
          required
        />
      </div>

      <div class="contact__content">
        <label for="email" class="contact__label">E-mail</label>
        <input
          id="email"
          name="email"
          type="email"
          class="contact__input"
          required
        />
      </div>

      <div class="contact__content">
        <label for="project" class="contact__label">
          {
            t({
              en: "Subject",
              es: "Asunto",
              "pt-br": "Assunto",
            })
          }
        </label>
        <input id="project" name="project" type="text" class="contact__input" />
      </div>

      <div class="contact__content">
        <label for="message" class="contact__label">
          {
            t({
              en: "Message",
              es: "Mensaje",
              "pt-br": "Mensagem",
            })
          }
        </label>
        <textarea
          id="message"
          name="message"
          cols="0"
          rows="7"
          class="contact__input"
          required></textarea>
      </div>

      <input
        type="hidden"
        name="_next"
        value="https://radapls.github.io/thk.html"
      />
      <input
        type="hidden"
        name="_subject"
        value="Nuevo mensaje de Portafolio"
      />

      <div>
        <button type="submit" class="button-form">
          {
            t({
              en: "Send message",
              es: "Enviar mensaje",
              "pt-br": "Enviar mensagem",
            })
          }
        </button>
      </div>
    </form>
  </div>
</section>

<style>
  /*==================== CONTACT ME ====================*/
  .contact__container {
    row-gap: 3rem;
  }
  .contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
  }
  .contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
  }
  .contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  .contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }
  .contact__content {
    background-color: var(--input-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
  }
  .contact__label {
    font-size: var(--small-font-size);
    color: var(--title-color);
  }
  .contact__input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
  }
</style>
