---

---

<!--==================== CONTACT ME ====================-->
<section class="contact section" id="Contact">
    <h2 class="section__title" i18n="c-title"></h2>
    <span class="section__subtitle" i18n="c-subtitle"></span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="uil uil-whatsapp contact__icon"></i>

                <div
                    style="display: flex; justify-content: space-between; align-items: center;"
                >
                    <a href="https://wa.me/message/LSVUN45EBMK5B1">
                        <h3 class="contact__title" i18n="c-wa-title"></h3>
                    </a>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-envelope contact__icon"></i>

                <div>
                    <h3 class="contact__title" i18n="c-email-title"></h3>
                    <a
                        href="mailto:radapls8@gmail.com?Subject=Trabajemos%20juntos"
                    >
                        <span
                            class="contact__subtitle"
                            i18n="c-email-description"></span>
                    </a>
                </div>
            </div>
        </div>

        <!--==================== CONTACT ME ====================-->

        <form
            action="https://formsubmit.co/radapls8@gmail.com"
            method="POST"
            class="contact__form grid"
        >
            <div class="contact__content">
                <label for="name" class="contact__label" i18n="f-name"></label>
                <input
                    id="name"
                    name="name"
                    type="text"
                    class="contact__input"
                    required
                />
            </div>

            <div class="contact__content">
                <label for="email" class="contact__label" i18n="f-email"
                ></label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    class="contact__input"
                    required
                />
            </div>

            <div class="contact__content">
                <label for="project" class="contact__label" i18n="f-project"
                ></label>
                <input
                    id="project"
                    name="project"
                    type="text"
                    class="contact__input"
                />
            </div>

            <div class="contact__content">
                <label for="message" class="contact__label" i18n="f-msg"
                ></label>
                <textarea
                    id="message"
                    name="message"
                    cols="0"
                    rows="7"
                    class="contact__input"
                    required></textarea>
            </div>

            <input
                type="hidden"
                name="_next"
                value="https://radapls.github.io/thk.html"
            />
            <input
                type="hidden"
                name="_subject"
                value="Nuevo mensaje de Portafolio"
            />

            <div>
                <button type="submit" class="button-form" i18n="btn">
                    <i class="uil uil-message button__icon"></i>
                </button>
            </div>
        </form>
    </div>
</section>