---
import Project from '@assets/img/new-project.webp'
---

<!--==================== PROJECT IN MIND ====================-->
<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title" i18n="np-title"></h2>
                <p class="project__description" i18n="np-subtitle"></p>
                <a
                    href="https://wa.me/message/LSVUN45EBMK5B1"
                    class="button button--flex button--white"
                    i18n="np-btn"></a>
            </div>
            <img
                src={Project.src}
                alt="project"
                class="project__img"
                draggable="false"
            />
        </div>
    </div>
</section>
