---
import Project from '@assets/img/new-project.webp'
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== PROJECT IN MIND ====================-->
<section class="project section">
    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">
                    {
                        t({
                          en: "Have a new project in mind?",
                          es: "¿Tienes un proyecto en mente?",
                          "pt-br": "Você tem um projeto em mente?",
                        })
                      }
                </h2>
                <p class="project__description">
                    {
                        t({
                          en: "Contact me now!",
                          es: "¡Contactame!",
                          "pt-br": "Fale comigo!",
                        })
                      }
                </p>
                <a
                    href="https://wa.me/message/LSVUN45EBMK5B1"
                    class="button button--white"
                    >
                    {
                        t({
                          en: "Contact Me",
                          es: "Escribeme",
                          "pt-br": "Chama no zap!",
                        })
                      }
                </a>
            </div>
            <img
                src={Project.src}
                alt="project"
                class="project__img"
                draggable="false"
            />
        </div>
    </div>
</section>
