---
import Sewing from '@assets/img/Sewing.webp'
import Pottery from '@assets/img/pottery.webp'


---

<!--==================== HOBBIES ====================-->
<section class="services section" id="Services">
    <h2 class="section__title" i18n="hobbies-title"></h2>
    <span class="section__subtitle" i18n="hobbies-subtitle"></span>

    <div class="services__container container grid">
        <!--==================== HOBBY 1====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-wall services__icon"></i>
                <h3 class="services__title" i18n="h1-title"></h3>
            </div>
            <span
                class="button button--flex button--small button--link services__button"
                i18n="see-more"
            >
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title"></h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <img
                            src={Pottery.src}
                            alt="Pottery"
                            draggable="false"
                        />
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== HOBBY 2====================-->
        <div class="services__content">
            <div>
                <i class="uil uil-arrow services__icon"></i>
                <h3 class="services__title" i18n="h2-title">Sewing</h3>
            </div>
            <span
                class="button button--flex button--small button--link services__button"
                i18n="see-more"
            >
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <h4 class="services__modal-title"></h4>
                    <i class="uil uil-times services__modal-close"></i>

                    <ul class="services__modal-services grid">
                        <img
                            src={Sewing.src}
                            alt="sewing"
                            draggable="false"
                        />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
