---
import Illustration from "@assets/img/illustration.webp";
import { Image } from "astro:assets";
import { LINKEDIN, GITHUB } from "src/consts";
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== HOME ====================-->
<section class="home section" id="Home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        <a
          href={LINKEDIN}
          target="_blank"
          class="home__social-icon"
          aria-label="LinkedIn profile"
        >
          <i class="uil uil-linkedin" aria-hidden="true"></i>
        </a>
        <a
          href={GITHUB}
          target="_blank"
          class="home__social-icon"
          aria-label="GitHub profile"
        >
          <i class="uil uil-github" aria-hidden="true"></i>
        </a>
      </div>
      <Image
        class="illustration-image floating"
        alt="Ilustracion digitial Juan Felipe Rada"
        src={Illustration}
        width={350}
        height={350}
        draggable={false}
      />

      <div class="home__data">
        <div style="display: flex; align-items: center; gap: 8px;">
          <h1 class="home__title">
            {
              t({
                en: "Hello!",
                es: "Hola!",
                "pt-br": "Ola!",
              })
            }
          </h1>
          <h1 id="waveElement" class="wave">👋🏼</h1>
        </div>
        <h2 class="home__eyebrow">
          {
            t({
              en: "I'm Juan Felipe",
              es: "Soy Juan Felipe",
              "pt-br": "Sou Juan Felipe",
            })
          }
        </h2>
        <h3 class="home__subtitle">
          {
            t({
              en: "FrontEnd Developer",
              es: "Desarrollador Frontend",
              "pt-br": "Desenvolvedor Frontend",
            })
          }
        </h3>
        <p class="home__description">
          {
            t({
              en: "Creating things and experiences one line at a time",
              es: "Creando cosas y experiencias, una línea a la vez",
              "pt-br": "Criando coisas e experiências, uma linha de cada vez",
            })
          }
        </p>
        <a href="#Contact" class="button button--flex">
          {
            t({
              en: "Contact Me",
              es: "Contáctame",
              "pt-br": "Contato",
            })
          }
        </a>
      </div>
    </div>
    <div class="home__scroll">
      <a href="#About" class="home__scroll-button">
        <i class="uil uil-mouse home__scroll-mouse"></i>
        <span class="home__scroll-name">
          {
            t({
              en: "Scroll down",
              es: "Desliza hacia abajo",
              "pt-br": "Role para baixo",
            })
          }
        </span>
        <i class="uil uil-arrow-down home_scroll-arrow"></i>
      </a>
    </div>
  </div>
</section>

<style>
  .illustration-image {
    order: 1;
    justify-self: center;
    filter: drop-shadow(0 0 50px var(--first-color));
  }
  .wave {
    display: inline-block;
    animation: wave 3s;
    transform-origin: 70% 70%;
    font-size: 50px;
    cursor: pointer;
  }

  .wave:hover {
    animation: wave 3s infinite;
  }
  .wave:not(:hover) {
    animation: none;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .floating {
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>

<script is:inline>
  // TypeScript code
  document.addEventListener("DOMContentLoaded", () => {
    const waveElement = document.getElementById("waveElement");

    if (waveElement) {
      waveElement.addEventListener("click", () => {
        waveElement.classList.add("animate");
        setTimeout(() => {
          waveElement.classList.remove("animate");
        }, 5000); // Remove the class after 5 seconds
      });
    }
  });
</script>
