---
import Illustration from "@assets/img/illustration.webp";
import { LINKEDIN, GITHUB } from "src/consts";
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== HOME ====================-->
<section class="home section" id="Home">
  <div class="home__container container grid">
    <div class="home__content grid">
      <div class="home__social">
        <a
          href={LINKEDIN}
          target="_blank"
          class="home__social-icon"
          aria-label="LinkedIn profile"
        >
          <i class="uil uil-linkedin" aria-hidden="true"></i>
        </a>
        <a
          href={GITHUB}
          target="_blank"
          class="home__social-icon"
          aria-label="GitHub profile"
        >
          <i class="uil uil-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="home__img">
        <svg
          class="home__blob"
          viewBox="0 0 200 187"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <mask id="mask0" mask-type="alpha">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
                                    130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
                                    97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
                                    0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            >
            </path>
          </mask>
          <g mask="url(#mask0)">
            <path
              d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
                                    165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
                                    129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
                                    -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
            >
            </path>
            <image
              class="home__blob-img floating"
              x="8"
              y="0"
              xlink:href={Illustration.src}
            />
          </g>
        </svg>
      </div>
      <div class="home__data">
        <div style="display: flex; align-items: center; gap: 8px;">
          <h1 class="home__title">
            {
              t({
                en: "Hello!",
                es: "Hola!",
                "pt-br": "Ola!",
              })
            }
          </h1>
          <h1 id="waveElement" class="wave">👋🏼</h1>
        </div>
        <h2 class="home__eyebrow">
          {
            t({
              en: "I'm Juan Felipe",
              es: "Soy Juan Felipe",
              "pt-br": "Sou Juan Felipe",
            })
          }
        </h2>
        <h3 class="home__subtitle">
          {
            t({
              en: "FrontEnd Developer",
              es: "Desarrollador Frontend",
              "pt-br": "Desenvolvedor Frontend",
            })
          }
        </h3>
        <p class="home__description">
          {
            t({
              en: "Creating things and experiences one line at a time",
              es: "Creando cosas y experiencias, una línea a la vez",
              "pt-br": "Criando coisas e experiências, uma linha de cada vez",
            })
          }
        </p>
        <a href="#Contact" class="button button--flex">
          {
            t({
              en: "Contact Me",
              es: "Contáctame",
              "pt-br": "Contato",
            })
          }
        </a>
      </div>
    </div>
    <div class="home__scroll">
      <a href="#About" class="home__scroll-button button--flex">
        <i class="uil uil-mouse home__scroll-mouse"></i>
        <span class="home__scroll-name">
          {
            t({
              en: "Scroll down",
              es: "Desliza hacia abajo",
              "pt-br": "Role para baixo",
            })
          }
        </span>
        <i class="uil uil-arrow-down home_scroll-arrow"></i>
      </a>
    </div>
  </div>
</section>

<style>
  .wave {
    display: inline-block;
    animation: wave 3s;
    transform-origin: 70% 70%;
    font-size: 50px;
    cursor: pointer;
  }

  .wave:hover {
    animation: wave 3s infinite;
  }
  .wave:not(:hover) {
    animation: none;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .floating {
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>

<script is:inline>
  // TypeScript code
  document.addEventListener("DOMContentLoaded", () => {
    const waveElement = document.getElementById("waveElement");

    if (waveElement) {
      waveElement.addEventListener("click", () => {
        waveElement.classList.add("animate");
        setTimeout(() => {
          waveElement.classList.remove("animate");
        }, 5000); // Remove the class after 5 seconds
      });
    }
  });
</script>
