---

---

<!--==================== PORTFOLIO ====================-->
<section class="portfolio section" id="Portafolio">
    <h2 class="section__title" i18n="portfolio-title"></h2>
    <span class="section__subtitle" i18n="portfolio-subtitle"></span>
    <div class="portafolio__container container">
        <div class="card-grid">
            <a class="card" href="spark.html" data-page="spark">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/spark-ar.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p1-title"></h3>
                    <p class="portafolio__description" i18n="p1-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://radapls.github.io/Pokedex/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/pokedex.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p2-title"></h3>
                    <p class="portafolio__description" i18n="p2-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://radapls.github.io/country-stats/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/world.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p3-title"></h3>
                    <p class="portafolio__description" i18n="p3-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://github.com/Radapls/truek-app">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/radar.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p4-title"></h3>
                    <p class="portafolio__description" i18n="p4-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://a-casa-nostra.vercel.app/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/casa-nostra.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p5-title"></h3>
                    <p class="portafolio__description" i18n="p5-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://radapls.github.io/CSS-library/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/books.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p6-title"></h3>
                    <p class="portafolio__description" i18n="p6-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://expenses-control-radapls.netlify.app/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/abacus.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p7-title"></h3>
                    <p class="portafolio__description" i18n="p7-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://patient-monitoring-radapls.netlify.app/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/calendar.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p8-title"></h3>
                    <p class="portafolio__description" i18n="p8-subtitle"></p>
                </div>
            </a>
            <a class="card" href="https://github.com/Radapls/miusiq-remix/">
                <div
                    class="card__background"
                    style="background-image: url(./src/assets/img/music.webp)"
                >
                </div>
                <div class="card__content">
                    <h3 class="portafolio__title" i18n="p9-title"></h3>
                    <p class="portafolio__description" i18n="p9-subtitle"></p>
                </div>
            </a>
            <div></div>
        </div>
    </div>
</section>
