---
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<!--==================== SKILLS ====================-->
<section class="skills section" id="Skills">
  <h2 class="section__title">
    🥷🏼
    {
      t({
        en: "Skills",
        es: "Habilidades",
        "pt-br": "Habilidades",
      })
    }
  </h2>
  <span class="section__subtitle">
    {
      t({
        en: "My tecnical level",
        es: "Mi nivel técnico",
        "pt-br": "Meu nível técnico",
      })
    }
  </span>

  <div class="skills__container container grid">
    <div>
      <!--==================== SKILLS 1====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-brackets-curly skills__icon"></i>

          <div>
            <h1 class="skills__title">
              {
                t({
                  en: "Web Development",
                  es: "Desarrollo web",
                  "pt-br": "Desenvolvimento Web",
                })
              }
            </h1>
            <span class="skills__subtitle">
              {
                t({
                  en: "3 years",
                  es: "3 años",
                  "pt-br": "3 anos",
                })
              }
            </span>
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">HTML</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Sass</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">TypeScript</p>
              <span class="skills__number" i18n="TypeScript">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">JavaScript</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Angular</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">React</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--==================== SKILLS 2====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-paint-tool skills__icon"></i>

          <div>
            <h1 class="skills__title">
              {
                t({
                  en: "Design",
                  es: "Diseño",
                  "pt-br": "Desenho",
                })
              }
            </h1>
            <span class="skills__subtitle">
              {
                t({
                  en: "2 years",
                  es: "2 años",
                  "pt-br": "2 anos",
                })
              }
            </span>
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Illsutrator</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Photoshop</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Permiere Pro</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Figma</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Spark AR</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--==================== SKILLS 3====================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-microsoft skills__icon"></i>

          <div>
            <h1 class="skills__title">
              {
                t({
                  en: "Office Suite",
                  es: "Microsoft Office",
                  "pt-br": "Microsoft Office",
                })
              }
            </h1>
            <span class="skills__subtitle">
              {
                t({
                  en: "8 years",
                  es: "8 años",
                  "pt-br": "8 anos",
                })
              }
            </span>
          </div>

          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Word</p>
              <span class="skills__number">
                {
                  t({
                    en: "Advanced Professional Competence",
                    es: "Competencia profesional avanzada",
                    "pt-br": "Competência profissional avançada",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Excel</p>
              <span class="skills__number">
                {
                  t({
                    en: "Intermediate proficiency",
                    es: "Competencia intermedia profesional",
                    "pt-br": "Competência profissional intermediária",
                  })
                }
              </span>
            </div>
          </div>

          <div class="skills__data">
            <div class="skills__titles">
              <p class="skills__name">Power Point</p>
              <span class="skills__number">
                {
                  t({
                    en: "Advanced Professional Competence",
                    es: "Competencia profesional avanzada",
                    "pt-br": "Competência profissional avançada",
                  })
                }
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
