---

---

<!--==================== SKILLS ====================-->
<section class="skills section" id="Skills">
    <h2 class="section__title" i18n="skills"></h2>
    <span class="section__subtitle" i18n="skills-description"></span>

    <div class="skills__container container grid">
        <div>
            <!--==================== SKILLS 1====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>

                    <div>
                        <h1 class="skills__title" i18n="skill1"></h1>
                        <span class="skills__subtitle" i18n="skill1-time"
                        ></span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>
                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">HTML</p>
                            <span class="skills__number" i18n="html"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Sass</p>
                            <span class="skills__number" i18n="css"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Tailwindcss</p>
                            <span class="skills__number" i18n="css"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">TypeScript</p>
                            <span class="skills__number" i18n="TypeScript"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">JavaScript</p>
                            <span class="skills__number" i18n="JavaScript"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Angular</p>
                            <span class="skills__number" i18n="angular"></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">React</p>
                            <span class="skills__number" i18n="angular"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--==================== SKILLS 2====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-paint-tool skills__icon"></i>

                    <div>
                        <h1 class="skills__title" i18n="skill2"></h1>
                        <span class="skills__subtitle" i18n="skill2-time"
                        ></span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>
                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Illsutrator</p>
                            <span class="skills__number" i18n="illustrator"
                            ></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__illustrator"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Photoshop</p>
                            <span class="skills__number" i18n="photoshop"
                            ></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__photoshop"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Permiere Pro</p>
                            <span class="skills__number" i18n="premiere"></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__premiere"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Figma</p>
                            <span class="skills__number" i18n="figma"></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__figma"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Spark AR</p>
                            <span class="skills__number" i18n="sparkAR"></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__spark"
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== SKILLS 3====================-->
            <div class="skills__content skills__close">
                <div class="skills__header">
                    <i class="uil uil-microsoft skills__icon"></i>

                    <div>
                        <h1 class="skills__title">Microsoft Office</h1>
                        <span class="skills__subtitle">1 year</span>
                    </div>

                    <i class="uil uil-angle-down skills__arrow"></i>
                </div>
                <div class="skills__list grid">
                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Word</p>
                            <span class="skills__number" i18n="word"></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__word"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Excel</p>
                            <span class="skills__number" i18n="excel"></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__excel"
                            ></span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <div class="skills__titles">
                            <p class="skills__name">Power Point</p>
                            <span class="skills__number" i18n="power-point"
                            ></span>
                        </div>
                        <div class="skills__bar">
                            <span class="skills__percentage skills__power"
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
