---

---

<section class="home section" id="Home">
    <div class="blog__container container grid">
        <div class="home__data">
            <h1 class="home__title">Spark AR Filters</h1>
            <div>
                <a href="https://www.instagram.com/ar/966029728120894/">
                    <video
                        width="180"
                        height="280"
                        src="./src/assets/videos/filter_2.mp4"
                        autoplay=""
                        loop=""
                        muted=""
                        playsinline=""
                        style="object-fit: cover;"></video>
                </a>
                <a href="https://www.instagram.com/ar/347733366955299/">
                    <video
                        width="180"
                        height="280"
                        src="./src/assets/videos/filter_1.mp4"
                        autoplay=""
                        loop=""
                        muted=""
                        playsinline=""
                        style="object-fit: cover;"></video>
                </a>
                <a href="https://www.instagram.com/ar/1065085450711728/">
                    <video
                        width="180"
                        height="280"
                        src="./src/assets/videos/filter_3.mp4"
                        autoplay=""
                        loop=""
                        muted=""
                        playsinline=""
                        style="object-fit: cover;"></video>
                </a>
            </div>
        </div>

        <div class="blog__social">
            <a
                href="https://www.linkedin.com/in/radapls/"
                target="_blank"
                class="home__social-icon"
            >
                <i class="uil uil-linkedin"></i>
            </a>
            <a
                href="https://github.com/radapls"
                target="_blank"
                class="home__social-icon"
            >
                <i class="uil uil-github"></i>
            </a>
        </div>
    </div>
</section>
