---
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);

---
<section class="noPost">
    <div>
        {
            t({
                es: 'No existen publicaciones',
                en: 'No post exists',
                'pt-br': 'Nao existem publicações',
            })
        }
    </div>

</section>

<style>
    .noPost
    {
        height: auto;
        display: grid;
        justify-items: center;
        min-height: 60vh;
    }
</style>